/*  
    Style main
*/ 

/**
 * Sommaire
 * 1.0 - body
 * 2.0 - Header
 *  2.1 - Navigation
 *  2.2 - Compact navigation
 *  2.3 - User navigation
 * 3.0 - Main
 * 4.0 - Index
 *  4.1 - Presentation
 * 5.0 - Private
 *	 5.1 - create Book
 *   5.2 - Manage Book
 *	 5.3 - Library
 * 6.0 - Book
 *	 6.1 - view 
 * 7.0 - Catalogue
 *   7.1 - index 
 *	 7.2 - view
 * 8.0 - Responsive
 * ----------------------------------------------------------------------------
 */

 /**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */

body{
	background-color: #f5f5f5;
   	height:100%;
    font-family:Helvetica,Arial,sans-serif;
    font-size:small;
    font-size:14px;
    color:#333 ;
}

.pageCenter{
	margin: 0 auto;
	max-width: 1200px;
}

.separator:after{
	content: "";
	clear: both;
	width: 50%;
	height: 0px;
	padding-top: 30px;
	border-bottom: 1px solid #bababa;
	margin: 0 auto
}

.logo{
	color:black;
	text-decoration: none;
	font-weight: bold;
}

.logo>span{
	font-weight: normal;
	color:#53a1b8;
}

 /**
 * 2.0 Header
 * ----------------------------------------------------------------------------
 */

#header{
	position: fixed;
	width: 100%;
	min-height:80px;
  	border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
	background-color: rgba(255,255,255,0.94);
	z-index: 10;
}

#header h1 a{
	background: url("../images/logo.png") no-repeat;
	height: 50px;
	line-height: 50px;
	padding-left: 60px;
	color:#505050;
}

#header h1:hover a{
	color:#53a1b8;
}
#header h1:hover a span{
	color:#505050;
}

/**
 * 2.1 Navigation
 **/


#siteNav ul{
	padding-left: 0;
	display: inline-block;
}

#siteNav a{
	text-decoration: none;
	color:#505050;
	display: block;
	line-height: 60px;
	letter-spacing: 1.5px;

	transition: color 200ms linear;
	-webkit-transition: color 200ms linear;
}

#siteNav a:hover{
	color:#53a1b8;
}


/**
 * 2.2 Compatct Navigation
 **/

#compactNav li{
	padding: 0 10px;
	height: 50px;
	text-indent:-999px;
	font-size: 0px;
	background-repeat: no-repeat;
}

#compactNav li:hover{
	background-color:rgba(240,240,240,1);
	cursor: pointer;
}


#compactNav #showMenu{
	text-align: right;
	border-right: 2px solid #ddd;
	background-image: url("img/menu.png");
	background-position: 80%;
}

#compactNav #showSearch{
	background-image: url("img/search.png");
	background-position: 20%;
}

/**
 * 2.3 User navigation
 **/

 #userNav li:first-child{
 	padding-right: 0;
 }

 #userNav li:first-child:after{
 	content:"|";
 	padding: 0 10px;
 }

 #userNav a{
	text-decoration: none;
	color:#505050;
	display: inline-block;
	letter-spacing: 1.5px;

	transition: color 200ms linear;
	-webkit-transition: color 200ms linear;
}

#userNav a:hover{
	color:#53a1b8;
}

#userNav li .linkVisible{
	color:#53a1b8;
 }

#userNav li .linkVisible:hover{
	color:#505050;
 }



 /**
 * 3.0 Main
 * ----------------------------------------------------------------------------
 */

#main{
	padding-top: 100px;
	min-height: 600px;
}

/** breadcrumb **/

#main #breadcrumb{
	background: white ;
}

#main #breadcrumb li{ 
	display: inline;
	padding:0 10px;
}

#main .flashsuccess{
	color:#27ae60;
}

#main .flasherror{
	color:#e74c3c;
}

#main h2, #main h3{
	color:#777;
}
#main p{
	color:#505050;
}
#main a{
	color:#505050;
	text-decoration: none;
}

#main a:hover{
	color: #53a1b8;
}

#main .panel{
	background:white;
	padding: 20px;
	margin: 0px auto;
}

#main .linkButton{
	padding: 0 10px;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 0.78px;
	text-align: center;
	height: 40px;
	background-color: #53a1b8;
	display: block;	
	color:white;
	line-height: 40px;
}

#main .linkButton:hover{
	background-color: #ccc;
	color:#555;
}

 /**
 * 4.0 Index
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Presentation
 **/
#presentation{
	color:white;
	background: #53a1b8;
}

#presentation h2{
	font-size: 3.3em;
	color:#ecf0f1;
}


#presentation .logo{
	color:#505050;
}

#presentation .logo span{
	color:white;
}

#presentation h3{
	font-weight: 300;
	color:#ecf0f1;
	letter-spacing: 1.036px;
}

#presentation p{
	font-weight: 100;
	letter-spacing: 1.036px;
	color:#ecf0f1;
		font-size: 14px;

}

#presentation figure{
	text-align: center;
}

#presentation figure  figcaption p {
	text-align: justify;
}
 /**
 * 5.0 Private 
 * ----------------------------------------------------------------------------
 */

#privateNav{
	 border-right: 2px solid #53a1b8;
}

#privateNav h3{
	text-align: left;
}

#privateNav ul{
	list-style: none;
	padding-left: 0;
}

#privateNav li a{
	text-decoration: none;
	color:#505050;
	display: block;
	text-align: left;
	padding-bottom: 10px;
	letter-spacing: 0.37px;
	
	transition: color 200ms linear;
	-webkit-transition: color 200ms linear;
}

#privateNav li a:hover,#privateNav li.active a{
	color:#53a1b8; 
}

/**
 * 5.1 create Book
 **/

 #book-form #previous_cover{
 	display: block;
	width: 165px;
	height: 260px;
 	min-width:165px;
 	max-height:260px;
 	min-height: 260px;
 }

 #book-form .inputPicture{
	margin: auto;
	text-align: center;
 }
 #book-form .inputPicture a{
 	padding:5px 20px;
 	background-color: #53a1b8;
 	color:white !important;
 	width:110px;
 	margin-left: auto;
 	margin-right: auto;
 }

 #book-form .inputPicture a:hover{
	background-color: #ccc;
	color: #555 !important;
 }

 #book-form #uploadInput ul li{
 	//background: red;
 	position: relative;
 	vertical-align: top;
 	text-align: center;
 	padding-top:3lopx;
 	width:120px;
 	display: inline-block;
 	min-height: 150px;
 	border: 3px dotted #ccc;
 	 word-wrap: break-word;
 	background: url("img/upload.png") no-repeat 50%;
 }
 
 #book-form #uploadInput ul li .close{
 	position: absolute;
 	display: none;
 	right:5px;
 	top:-10px;
 	font-size: 35px;
	color:#e74c3c;
 }

  #book-form #uploadInput ul li .close:hover{
  	color:#2c3e50;
  }

 #book-form #uploadInput ul li:hover .close{
 	display: block;
 }

 #book-form #uploadInput ul li.epub{
 	background-image: url("img/epub.png");
 } 

 #book-form #uploadInput ul li.mobi{
 	background-image: url("img/mobi.png");
 }

 #book-form #uploadInput ul li.pdf{
 	background-image: url("img/pdf.png");
 }

  #book-form #uploadInput ul li:hover{
  	background-color: #ddd;
  	cursor: pointer;
  }
  #book-form #uploadInput ul li+li{
  	margin-left:30px;
  }

/**
 * 5.2 Manage Book
 **/

#ltBook,#pushBook{
		background: white;
		border: 1px solid rgba(0,0,0,0.2);
}

#ltBook.onDrop,#pushBook.onDrop{
	border:2px solid #53a1b8;
}

#ltBook h4,#pushBook h4{
	border-bottom: 1px solid rgba(0,0,0,0.2);
	color:#53a1b8;
}

#ltBook div, #pushBook div { /* liste book */
	text-align: left;
	position: relative;
}
#ltBook div.autogrid5 > *, #pushBook div.autogrid5 > *{
	width: 25%;
}

#ltBook div figure,#pushBook div figure{
	height: 100%;
}

#ltBook div>a,#pushBook div>a{
	display: block;
}

#ltBook div>a:hover,#pushBook div>a:hover{
	background-color: #eee;
}

#ltBook div figure img,#pushBook div figure img{
	max-width:83px;
	width:83px;
	min-width:83px;
	height: 130px ;
	min-height: 130px;
	max-height: 130px;

}
#ltBook div figure figcaption,#pushBook div figure figcaption{

}

/** param livre **/
#ltBook div .btParam,#pushBook div .btParam{
	background:url("img/paramsprite.png") -35px -5px no-repeat;
	height: 20px;
	width: 20px;
	text-indent: -9999px;
	margin-bottom: 2px;
}

#ltBook div .btParam:hover,#ltBook div .btParamActive,#pushBook div .btParam:hover,#pushBook div .btParamActive{
	background-position: -5px -5px;
	cursor:pointer;
}

#ltBook .param,#pushBook .param{
	position: absolute;
	background: white;
	width: 100%;
	top:22px;
}

#ltBook ul,#pushBook ul{
	list-style: none;
	padding-left: 0;
	text-align: center;
}

#ltBook ul li,#pushBook ul li{
	margin-top:15px;
}

#ltBook ul li a,#pushBook ul li a{
	color: #53a1b8;
	display: block;
	padding:8px 15px;
}

#ltBook ul li a:hover,#pushBook ul li a:hover{
	color:#505050;
}


/**
* Bouton add ebbok
**/

#ltBook #addEbook{
	width: 120px;
	border: 2px solid #53a1b8;
	position: relative;
}

#ltBook #addEbook #iconAdd{
	top:-20%;
	left:15%;
	font-weight: bold;
	font-size: 10em;
	padding-top: 15px;
	line-height: 150px;
	color:#ddd;
}
#ltBook #addEbook p:last-child{
	position: absolute;
	top:10%;
	margin-left: 10%;
	color: #53a1b8;

}

#ltBook #addEbook:hover #iconAdd,#ltBook #addEbook:hover p:last-child,#ltBook #addEbook:hover{
	color:#53a1b8;
	border-color: #53a1b8;
	background: white;
}

/**
 * 5.3 Library
 **/
#library .book{
	position: relative;
}
#library .book .close{
	display: none;
	position: absolute;
	right:15px;
	font-size: 30px;
	padding: 10px;
	padding-top: 0px;
	color:red;
}

#library .book .close:hover{
	color:orange;
}
 
 #library .book:hover .close{
	display: block;
 }


 /**
 * 6.0 Book
 * ----------------------------------------------------------------------------
 */

/**
 * 6.1 view book
 **/

#viewBook{
	background-color: white;
}

#viewBook img{
	width:165px;
	min-height: 260px;
	max-height: 260px;
	margin: 0 auto;
	display: block ;
}

#viewBook .info{
	position: relative;
	min-height: 310px;
}
#viewBook .subtitle{
	font-size: 18px;
	font-weight: normal;
}

#viewBook .linkDown{
	display: inline-block;
	margin-top: 0;
}

#viewBook .author{
	color:#505050;
	font-size: 20px;
	font-weight: 600;
}

#viewBook .editor a{
	color:#53a1b8;
	font-weight: 600;
}

#viewBook .editor a:hover{
	color:#505050;
}

#viewBook .description{
	background-color: #666

}

#viewBook .description h4{
	color:white;
	font-size: 20px;
	font-weight: normal;
}

#viewBook .description p{
	text-indent: 40px;
	line-height: 25px;
	text-align: justify;
	color:white;	

}

#viewBook .more{
	font-size: 14px;
}

#viewBook .more h4{
	color: #53a1b8;
	border-bottom: 1px solid #53a1b8;
	font-size: 25px;
	font-weight: normal;
}

 /**
 * 7.0 Catalogue
 * ----------------------------------------------------------------------------
 */

/**
 * 7.1 index Catalogue
 **/
#indexCatalogue{
	background-color: white;
}

#indexCatalogue h3 , #newCatalogue h3, #discoverCatalogue h3{
	color: #53a1b8;
	border-bottom: 1px solid #53a1b8;
	font-size: 25px;
	font-weight: normal;
}


/** design catalogue **/

.catalogue h2{
	font-size: 25px;
	font-weight: normal;
}

.catalogue h3{
	font-size: 21px;
	font-weight: normal;
}

.catalogue .name{
	color: #555 ;
	font-size: 1.2em;
	letter-spacing: 1.37px;
	font-weight: normal;
}

.catalogue div.autogrid5 { /* list book */
	text-align: left;
	position: relative;
}

#main .catalogue .link p ,#main .catalogue .link p:after{
	color:#53a1b8 ;
}

.catalogue .link{
	display: block;
}

/** new Catalogue **/
#newCatalogue .catalogue + .catalogue{
	border-top: 1px solid #aaa;
}

#newCatalogue h3 a, #newCatalogue h3:after{
	color: #53a1b8;
}

#newCatalogue h3 a:hover, #newCatalogue h3 a:hover:after{
	color:#555;
}

#newCatalogue h3 a:after{
	font-size: 26px;
	line-height: 22px;
	color: #53a1b8;
}

/** design book in previous catalogue **/
.catalogue .book:hover{
	transform: scale(1.1);
	opacity: 0.7;
}
.catalogue .book figure img{
	width:123px;
	min-height: 195px;
	max-height: 195px;
}


/** catalogue random **/

#discoverCatalogue{
	background-color: #666;
}

#discoverCatalogue a, #discoverCatalogue a:after{
	color:#349fff;
}


#discoverCatalogue .book figure img{
	width:61px;
	min-height: 97px;
	max-height: 97px;
}

#discoverCatalogue .book a p{
	color:#ccc;
	font-size:0.9em;
}

#discoverCatalogue .name{
	color: white;
}

#discoverCatalogue .description, 
#discoverCatalogue .description *{
	text-indent: 55px;
	text-align: justify;
	color:white;
	font-size: 14px;
	line-height: 20px;

}
#discoverCatalogue div.autogrid5 > *{
	width: 20%;
}
/**
 * 7.2 view Catalogue
 **/

#viewCatalogue{
	background: white;
}

#viewCatalogue h2{
	color:#777;
}

#viewCatalogue #viewPushBook{
	background-color: #53a1b8;
}

#viewCatalogue #viewPushBook h3, #viewCatalogue #viewLtBook h3{
	color:white;
	border-bottom: 1px solid white;
} 

#viewCatalogue #viewPushBook a p{
	color:white;
	font-size: 1.1em;
}

#viewCatalogue #viewDescription p{
	text-indent: 50px;	
	font-size: 14px;
	text-align: justify;
}

#viewCatalogue #viewLtBook {
	background-color: #666;
}

#viewCatalogue #viewLtBook p{
	color:white;
}

 /**
 * 8.0 Responsive
 * ----------------------------------------------------------------------------
 */

@media (max-width: 768px) {
	
	#header{
		position: relative;
	}
	
	#main{
		padding-top: 0;
	}

	/**
	* presentation
	**/
	#presentation figure{
		padding-bottom:60px;
	}

	/** bug knacss datepicker jquery**/
	#ui-datepicker-div th,
	#ui-datepicker-div td {
		display:table-cell !important ;

	}
	
	/** Private Nav **/
	#privateMenu{
		background-color:white;
		width:100%;
		margin-top:20px;
		margin-bottom: 10px;
		color:#505050;
	}

	#privateMenu:before{
		color:#505050;
	}

	#privateMenu:hover{
		background-color:#eee;
		cursor: pointer;
	}

	#privateNav{
		background-color:white;
		margin-top: 0;
		width: 100%;
		margin-right: 0;
	}

	#privateNav h3{
		text-align: center;
	}
	#privateNav ul li a{
		text-align: center;
	}
	
	/** gestion catalogue / liste livre **/
	#ltBook #addEbook p:last-child{
		position: relative;
		margin-left: 0%;
	}
}

@media (max-width: 640px) {
	#viewBook .info{
		min-height: 0;
		margin-top: 20px;
		padding-left: 0;
	}


}