/*  
    Style main
*/ 

/**
 * Sommaire
 * 1.0 - body
 * 2.0 - Header
 *  2.1 - Navigation
 *  2.2 - Compact navigation
 *  2.3 - User navigation
 * 3.0 - Main
 * 4.0 - Index
 *  4.1 - Presentation
 * 5.0 - Privaite
 * 6.0 - Responsive
 * ----------------------------------------------------------------------------
 */

 /**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */

body{
	background-color: #f5f5f5;
	font-family:"open", sans-serif;
}

.pageCenter{
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}

.separator:after{
	content: "";
	clear: both;
	width: 50%;
	height: 0px;
	padding-top: 30px;
	border-bottom: 1px solid #bababa;
	margin: 0 auto
}

.logo{
	color:black;
	text-decoration: none;
	font-weight: bold;
}

.logo>span{
	font-weight: normal;
	color:#3498db;
}

 /**
 * 2.0 Header
 * ----------------------------------------------------------------------------
 */

#header{
	position: fixed;
	width: 100%;
	min-height:80px;
  //  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
  	border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
	background-color: rgba(255,255,255,0.94);
	z-index: 10;
}

#header h1 a{
	background: url("../images/logo.png") no-repeat;
	height: 50px;
	line-height: 50px;
	padding-left: 60px;
	color:#505050;
}

#header h1:hover a{
	color:#3498db;
}
#header h1:hover a span{
	color:#505050;
}

/**
 * 2.1 Navigation
 **/


#siteNav ul{
	padding-left: 0;
	display: inline-block;
}

#siteNav a{
	text-decoration: none;
	color:#505050;
	display: block;
	line-height: 60px;
	letter-spacing: 1.5px;

	transition: color 200ms linear;
	-webkit-transition: color 200ms linear;
}

#siteNav a:hover{
	color:#3498db;
}


/**
 * 2.2 Compatct Navigation
 **/

#compactNav li{
	padding: 0 10px;
	height: 50px;
	text-indent:-999px;
	font-size: 0px;
	background-repeat: no-repeat;
}

#compactNav li:hover{
	background-color:rgba(240,240,240,1);
	cursor: pointer;
}


#compactNav #showMenu{
	text-align: right;
	border-right: 2px solid #ddd;
	background-image: url("img/menu.png");
	background-position: 80%;
}

#compactNav #showSearch{
	background-image: url("img/search.png");
	background-position: 20%;
}

/**
 * 2.3 User navigation
 **/

 #userNav li:first-child{
 	padding-right: 0;
 }

 #userNav li:first-child:after{
 	content:"|";
 	padding: 0 10px;
 }
 #userNav a{
	text-decoration: none;
	color:#505050;
	display: inline-block;
	letter-spacing: 1.5px;

	transition: color 200ms linear;
	-webkit-transition: color 200ms linear;
}

#userNav a:hover{
	color:#3498db;
}

#userNav li .linkVisible{
	color:#3498db;
 }

#userNav li .linkVisible:hover{
	color:#505050;
 }



 /**
 * 3.0 Main
 * ----------------------------------------------------------------------------
 */

#main{
	padding-top: 110px;
	min-height: 600px;
}

#main .flashsuccess{
	color:#27ae60;
}

#main .flasherror{
	color:#e74c3c;
}
#main h2, #main h3{
		color:#505050;
}
#main p{
	color:#505050;
}
#main a{
	color:#505050;
	text-decoration: none;
}

#main a:hover{
	color: #3498db;
}
 /**
 * 4.0 Index
 * ----------------------------------------------------------------------------
 */

/**
 * 4.1 Presentation
 **/
#presentation{
	color:#919191;
}

#presentation h2{
	font-size: 3.3em;
	color:#505050;
}

#presentation h3{
	font-weight: 300;
	color:#505050;
	letter-spacing: 1.036px;
}

#presentation p{
	font-weight: 100;
	letter-spacing: 1.036px;

}

#presentation figure{
	text-align: center;
}
 /**
 * 5.0 Private 
 * ----------------------------------------------------------------------------
 */

#privateNav{
	 border-right: 2px solid #3498db;
}

#privateNav h3{
	text-align: left;
}

#privateNav ul{
	list-style: none;
	padding-left: 0;
}

#privateNav li a{
	text-decoration: none;
	color:#505050;
	display: block;
	text-align: left;
	//padding-left: 50px;
	padding-bottom: 10px;
	letter-spacing: 0.37px;
	
	transition: color 200ms linear;
	-webkit-transition: color 200ms linear;
}
#privateNav li a:hover,#privateNav li.active a{
	color:#3498db; 
}

 /**
 * 6.0 Responsive
 * ----------------------------------------------------------------------------
 */

@media (max-width: 768px) {
	
	#header{
		position: relative;
	}
	
	#main{
		padding-top: 0;
	}

	/**
	* presentation
	**/
	#presentation figure{
		padding-bottom:60px;
	}
}